aiohttp
aiofiles
asyncio
ffmpeg-python
pillow
pyrogram==1.4.16
py-tgcalls
wget
python-dotenv
youtube-search-python
youtube-search
motor
psutil
requests
rich
dnspython
git+https://github.com/Otazuki004/downloader1
tgcrypto
gitpython
heroku3
git
node 15.0.1
